<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body style="height: 100%; width: 100vw; background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);background-repeat: no-repeat;
  background-attachment: fixed;">

        <center><h1>Añadir Alumno</h1></center>
        <br><br>
        <div class="container">
        <form action="/agregarAlumno" method="POST">
            <div class="input-group mb-3"> <!-- Nombre -->  
                <span class="input-group-text">N</span>
                <input name="nombre" type="text"  class="form-control" placeholder="Nombre" aria-label="Nombre" aria-describedby="basic-addon1" required/>
            </div>
            <div class="input-group mb-3"> <!-- Numero -->  
                <span class="input-group-text" >A</span>
                <input name="apellido" type="text" class="form-control" placeholder="Apellido" aria-label="Apellido" aria-describedby="basic-addon1" required/>
            </div>
            <div class="input-group mb-3"> <!-- email -->  
                <span class="input-group-text">G</span>
                <input name="grado" type="text"  class="form-control" placeholder="Grado" aria-label="email" aria-describedby="basic-addon1" required/>
            </div>
            <div class="input-group mb-3"> <!-- email -->  
                <span class="input-group-text">#</span>
                <input name="idsalon" type="number" class="form-control" placeholder="id-salon" aria-label="id salon" aria-describedby="basic-addon1" required/>
            </div>
            <center> <button type="submit" class="btn btn-primary">Añadir</button> </center>
        </form>
        </div>
</body>
<%- include('../partials/footer'); %>
</html>