<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <div class="container p-4">

      <div class="card">
        <div class="card-header">
          Práctica de Congnitive Computing
        </div>
        <div class="card-body">
          <h5 class="card-title">Alumnos</h5>
          <p class="card-text">Alumno: Ricardo Carbajal Mezarina</p>
          <a href="/list" class="btn btn-primary">Listar Alumnos</a>
        </div>
      </div>

    </div>
  <%- include('../partials/footer'); %>
  </body>
</html>